/* background area */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: url('../assets/background-2.jpg') no-repeat center center/cover;
  background-attachment: fixed;

  padding: 40px 20px;
}

/* login box */
.login-box {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(75px);
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);

  width: 100%;
  max-width: 450px;
  padding: 40px;
  color: #fff;
  font-weight:500;
}

/* heading */
.login-box h2 {
  text-align: center;
  font-weight: 700;
  color: #ffb347;
  margin-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
}

/* form inputs */
.login-box .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 12px;
}

.login-box .form-control::placeholder {
  color: #ddd;
}

.login-box label {
  color: #f8f8f8;
  font-weight: 700;
}

/* button */
.login-box .btn-primary {
  background-color: #ffb347;
  border: none;
  font-weight: 800;
  transition: 0.3s;
}

.login-box .btn-primary:hover {
  background-color: #ffa726;
  transform: scale(1.02);
}

/* links & messages */
.login-box a {
  color: #ffb347;
}

.login-box a:hover {
  text-decoration: underline;
}

.login-box p {
  color: #f0f0f0;
}
