@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Momo+Trust+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.hero-title {
  font-size: 5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #ffb347;;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.hero-section {
  background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("../assets/background-2.jpg")
      no-repeat center center/cover;
  background-attachment: fixed; 
  min-height: 100vh;
  color: white;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  */
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
}

/* Add a semi-transparent overlay for readability */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255,0.1);
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
}

.hero-card {
  border: none;
  border-radius: 20px;
  transition: transform 0.3s ease;
  background-color:  #fcfcfc;
}

.hero-card:hover {
  transform: translateY(-10px);
}

.start-link {
  color: #ff6600; /* orange tone */
}

.start-link:hover {
  color: #e65c00;
  text-decoration: underline;
}
