.listing-box .btn-close {
  position: absolute; 
  right: -26px;  
  
  background-color: #fff; /* so it doesn’t blend into bg */
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);  
 
}
 .listing-box .btn-close:hover {
  filter: invert(1);
  transform: scale(1.2);
}
.create-listing-page {
  display: flex;
  justify-content: center; /* horizontally centers */
  align-items: center;      /* vertically centers */
  min-height: 100vh;
  background: url('../assets/background-2.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  padding: 40px 20px;
}

.create-listing-page h2 {
  text-align: center;
  font-weight: 700;
  color: #ffb347;
  margin-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.listing-box {
  width: 100%;
  max-width: 1400px;
 background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(75px);
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  padding: 10px 30px ;
  color: #fff;
}
.btn.btn-secondary {
  background: #99582A;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  transition: all 0.3s ease;
}

.btn.btn-secondary:hover {
  background: #5a6268;
  transform: translateY(-2px);
}

/* Submit Button */
.btn.btn-primary {
  background: #ffb347;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 10px 0;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

.btn.btn-primary:hover {
  background: #5a6268;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.4);
}
